.blur {
    filter: blur(5px);
}

.non-blur {
    filter: none;
}

.selectable {
    user-select: text;
}

.unselectable {
    user-select: none;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}

.overflow-hidden {
    overflow-y: hidden;
}

.overflow-visible {
    overflow-y: visible;
}