header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: var(--primary-bg-color);
    user-select: none;
}

.top-navigation-wrapper {
    padding-inline: 1.6rem;
    block-size: 6.4rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    max-width: 16rem;
}

.menu-button {
    inline-size: 3.2rem;
    block-size: inherit;
}

.article-actions-wrapper {
    block-size: 3.2rem;
    padding-inline-end: 1.6rem;
    border: 1px solid var(--border-color);
    background-color: var(--secondary-bg-color);
    display: grid;
    grid-template-columns: 3.2rem 1fr 3.2rem;
    align-items: center;
    justify-items: center;

    .sidebar-button {
        block-size: inherit;
        inline-size: 2rem;
    }

    .article-actions-button {
        block-size: inherit;
        inline-size: 2rem;
    }
}