.sidebar-container {
    display: none;
    z-index: 2;
    position: fixed;
    top: 9.6rem;
    bottom: 0;
    left: 0;
    right: 0;
}

.mobile-ini-index {
    z-index: 2;
    position: fixed;
    top: 9.6rem;
    bottom: 0;
    left: 0;
    right: 25vw;
    max-width: 30rem;
    padding-inline-start: var(--section-inline-space);
    overflow-y: scroll;
    background-color: var(--secondary-background-color);
}